<footer><nav class="navbar fixed-bottom navbar-dark bg-dark py-0">
    <div class="container-fluid">
      <h6 class=" navbar-text text-center">&copy;All rights reserved</h6>
    </div>
  </nav></footer>