<%- include partials/header.ejs %>

<%- include  partials/main_nav.ejs %>

<main class="text-bg-light p-3 text-center">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            

  <div class="container-fluid">
    <h2>Hi! My name is<span class="text-success"> Noveen</span></h2>
    

   <p>
    I'm deeply interested in how technology can be utilized to enhance healthcare delivery. Specifically, 
    I'm keen on improving public health surveillance tools and electronic health records (EHRs). 
    To become well-versed with modern frameworks and workflows used in the software industry, 
    such as user-centered design and data analytics, I enrolled in the Software Engineering Technology program. </p>
    <h2>My Background</h2>
        <p>
            Previously, I practiced dentistry in a low-resource economy. 
            This experience has made me passionate about using technology to improve
             healthcare access and outcomes. I have personally witnessed the challenges involved
             in delivering quality care with limited resources. 
             Therefore, I am eager to apply my software engineering skills towards public health surveillance tools and EHRs.

        </p>
        <a href="/Assets/NoveenResume.pdf">View Resume</a>

    </div>
           <!--- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> -->
        <img src ="/Assets/images/me.JPG" class="rounded img-fluid w-50" alt="...">
         <!--</div> -->
              </div>
      </div>
</main>

<%-include partials/bottom_nav.ejs %>
<%-include partials/footer.ejs %>