<%- include partials/header.ejs %>

<%- include  partials/main_nav.ejs %>
<body>
  <!--navigation-->
  

  <!--main content-->
  

    
   <div class="body-container position-relative d-flex justify-content-center align-items-center text-center text-white flex-coloumn">
    <div class="overlay position-absolute"></div>
    <div class="text-container">
      <h1 class="display-3">Welcome to my home page</h1>
      <p class="h3">Open to work after graduation</p>
      <p class="h4">Get to know more
       <a href="/about" class="link-success stretched-link">About Me</a>
      

        </p>
    
  </div>
</main>


<%-include partials/bottom_nav.ejs %>
<%-include partials/footer.ejs %>






