<% import  partials/header.ejs %>

<% import  partials/main_nav.ejs %>
<body>
  <!--navigation-->
  

  <!--main content-->
  <div class="container">
  <main class="mx-auto text-center">
  
   <h1>Welcome to the <%= title %> page</h1>
    
 
</main>
</div>

<% import  partials/bottom_nav.ejs %>
<% import  partials/footer.ejs %>






