<%- include partials/header.ejs %>

<%- include  partials/main_nav.ejs %>
<main class="p-5">
 <div class="container text-center">
   <div class="row text-center">
    <div class="col-md">
        <div class="card p-3 bg-dark text-light" >
          <div class="card-body">
            <h5 class="card-title">Favourite Images</h5>
           
            <p class="card-text">More vanilla javascript practice using vanilla javascript</p>
            <a href="http://studentweb.cencol.ca/nmirza13/assignment2.html" class="btn btn-primary">Go</a>
          </div>
      </div>
    </div>
    <div class="col-md">
        <div class="card p-3 bg-dark text-light" >
            <div class="card-body">
              <h5 class="card-title">Photo gallery</h5>
       
              <p class="card-text">built image gallery carousel using vanilla javascript</p>
              <a href="http://studentweb.cencol.ca/nmirza13/assignment4.html" class="btn btn-primary">Go</a>
            </div>
          </div>
</div>   
    <div class="col-md">
          <div class="card p-3 bg-dark text-light" >
            <div class="card-body">
              <h5 class="card-title">HTML 5 game</h5>
            
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing e
                lit.
                ebitis hic.</p>
              <a href="http://studentweb.cencol.ca/nmirza13/assignment3.html" class="btn btn-primary">Go</a>
            </div>
        </div>
   
        
          </div>
        

</main>






<%-include partials/bottom_nav.ejs %>
<%-include partials/footer.ejs %>