<%- include partials/header.ejs %>

<%- include  partials/main_nav.ejs %>

<main>
    <body>
        <h1>Web Development Services:</h1>
        <ul>
            <li>Website Design and Development: Creating custom websites from scratch based on the client's specifications and business needs.</li>
            <li>Mobile-Responsive Website Design: Ensuring that websites are designed to function effectively and look good on all devices, from desktops to smartphones.</li>
            <li>E-commerce Website Development: Building online storefronts, including integrating shopping cart software, payment gateways, and other features needed to sell products or services online.</li>
            <li>Content Management Systems (CMS): Building websites on popular CMS platforms like WordPress, Joomla, or Drupal, and providing training on how to update and manage the site's content.</li>
            <li>Website Maintenance and Support: Regular updates, security monitoring, backup services, troubleshooting and fixing any issues that arise.</li>
            <li>Search Engine Optimization (SEO): Optimizing website code and content to improve its ranking on search engines like Google.</li>
            <li>Website Analytics and Reporting: Using tools like Google Analytics to track and report on website traffic, user behavior, and other key metrics.</li>
        </ul>
    
        <h1>Data Analyst Services:</h1>
        <ul>
            <li>Data Collection and Cleaning: Gathering data from various sources, and cleaning it to remove any errors or inconsistencies.</li>
            <li>Data Analysis: Using statistical methods to analyze data and draw conclusions.</li>
            <li>Predictive Modeling: Using machine learning algorithms to predict future trends or behaviors based on historical data.</li>
            <li>Data Visualization: Creating charts, graphs, and other visualizations to help stakeholders understand the data.</li>
            <li>Report Generation: Creating detailed reports that explain the results of the data analysis.</li>
        </ul>
    </body> 

</main>


<%-include partials/bottom_nav.ejs %>
<%-include partials/footer.ejs %>
